Logs/
*.dt
confUtils1.vbs
confUtils2.vbs
confUtils_my.vbs
confUtils_my2.vbs
confupdate.txt
confupdate.vbs
confupdate1.vbs
confupdate2.vbs
confupdate_User.ini
confupdate_User_copy.ini
confupdate_my.txt
confupdate_test.txt
confupdate_test01.txt
confupdate_base.txt
Пустая83/1Cv8.1CD.cfl
Пустая83/1Cv8.1CL.cfl
Пустая83/1Cv8.cgr.cfl
Пустая83/1Cv8tmp.1CD.cfl
Пустая83/1Cv8tmp.1CL.cfl
Пустая83/1Cv8Log/
ТестоваяБизнес_Обновить.cmd
ТестоваяОбщая_Обновить.cmd
Хранилище83/1cv8ddb.1CD.cfl
Хранилище83/1cv8ddb.1CL.cfl
Хранилище83/1cv8dtmp.1CD.cfl
Хранилище83/1cv8dtmp.1CL.cfl
a.txt
