Logs/
*.dt
Пустая83/1Cv8.1CD.cfl
Пустая83/1Cv8.1CL.cfl
Пустая83/1Cv8.cgr.cfl
Пустая83/1Cv8tmp.1CD.cfl
Пустая83/1Cv8tmp.1CL.cfl
Пустая83/1Cv8Log/
Хранилище83/1cv8ddb.1CD.cfl
Хранилище83/1cv8ddb.1CL.cfl
Хранилище83/1cv8dtmp.1CD.cfl
Хранилище83/1cv8dtmp.1CL.cfl
src/oscript/runner.cmd
